button, button:active, button:visited {
    padding: 2px 4px !important;
    margin: 1px 4px !important;
    border: 1px solid #3498DB;
    border-radius: 3px;
    background-color: white;
    color: #3498DB;
    font-size: 11pt;
    position: bottom 
  }

button:focus, button:hover{
  padding: 2px 4px !important;
  margin: 1px 4px !important;
  border: 1px solid #3498DB;
  border-radius: 3px;
  background-color: white;
  color: #3498DB;
  font-size: 11pt;
  opacity: .5
}

a:link {
  color: #3498DB;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #3498DB;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #3498DB;
  background-color: transparent;
  text-decoration: underline;
  opacity: 50%
}

a:active {
  color: #3498DB;
  background-color: transparent;
  text-decoration: underline;
}

.a2, .a2:link .a2:active, .a2:visited {
  padding: 3px 4px !important;
  border: 1px solid #D35400 !important;
  margin: 1px 2px !important;
  border-radius: 3px;
  background-color: white;
  color: #D35400 !important;
  text-decoration: none;
  font-size: 11pt;
}

.a2:focus, .a2:hover{
  padding: 3px 4px !important;
  border: 1px solid #D35400 !important;
  margin: 1px 2px !important;
  border-radius: 3px;
  background-color: white;
  color: #D35400;
  text-decoration: none;
  font-size: 11pt;
  opacity: .5;
}

/*Columns --------------------------------------------- */

html {
    margin:    0 auto;
    max-width: 1200px;
}

.column-left{
    float: left;
    width: 50%;
    text-align: center;
}

.column-right{
  float: right;
  width: 50%;
  text-align: left;
}

moredetails1{
  font-size: 13pt;
  width: 100%;
  padding: 13pt;
  background-color: white;
  display: inline-block;
  text-align: left;
  color: rgb(100,100,100);
}


moredetails{
  font-size: 13pt;
  padding: 13pt;
  background-color: white;
  display: inline-block;
  text-align: left;
  color: rgb(100,100,100);
}

p{
  font-size: 14pt;
  color: rgb(100,100,100);
}

p1{
  font-size: 15pt;
  color: rgb(100,100,100);
  font-weight: bold;
}

p2{
  font-size: 14pt;
  color: rgb(100,100,100);
  opacity: 80%;
}


p3{
 font-size: 14pt;
 font-weight: bold;
 color: rgb(100,100,100);
 /*text-transform: uppercase*/
}

left{float: left}

me{
  font-size: 14pt;
  color: #3498DB
}

.card{
  font-size: 14pt;
  border: 0px solid #3498DB;
  padding:10px 10px 10px 10px;
  margin: 0px;
  width: 100%; 
  float: left;
  background-color: white;
  display: block;
  text-align: left;
  break-inside: avoid-column;  
}

.cardfig{
  font-size: 14pt;
  border: 0px solid #3498DB;
  padding: 10px 0px 10px 10px;
  margin: 0px;
  width: 100%; 
  float: left;
  background-color: white;
  text-align: left;
  display: block;
  break-inside: avoid-column;
}

.cardtopic{
  font-size: 14pt;
  border: 0px solid #3498DB;
  padding: 10px 0px 10px 10px;
  margin: 0px;
  width: 100%; 
  float: left;
  background-color: white;
  text-align: left;
  display: block;
  break-inside: avoid-column;
}

.parentbox{
  column-count: 2;
  column-gap: 0px;
  row-gap: 0px;
  row-count: 1;
  break-inside: avoid-row; 
}

.titlebox{
  width: 100%; 
  font-size: 14pt;
  background-color: white !important;
  padding: 5px 6px !important;
  display: inline-block;
  margin: 0px;
  color: rgb(100,100,100);
}

.titleboxsmall{
  width: 100%; 
  font-size: 14pt;
  background-color: white !important;
  padding: 5px 6px !important;
  display: inline-block;
  margin: 0px;
  color: rgb(100,100,100);
}

.figboxavatar img {
  font-size: 14pt;
  border: 0px solid #3498DB;
  padding: px;
  height: 300px;
  margin: 0px;
  width: 100%;
  position: center;
  float:center;
  background-color: white;
  object-fit: contain;
  object-position: center top;
}

.figbox img {
  font-size: 13pt;
  border: 0px solid #3498DB;
  padding: 0px;
  height: 125px;
  margin: 0px;
  width: 100%;
  position: center;
  float: center;
  background-color: white;
  object-fit: scale-down;
  object-position: center center;
}


.figboxsmall img {
  font-size: 14pt;
  border: 0px solid #3498DB;
  padding: 5px;
  height: 70px;
  margin: 0px;
  width: 100%;
  position: right;
  float:right;
  background-color: white;
  object-fit: contain;
  object-position: left top;
}

/*.chart-title {
    border-bottom: 1px solid #d7d7d7;
    color: #333333;
    background-color: #D5DBDB;
    font-size: 15pt;
    font-weight: 700;
    padding: 7px 11pt 4px;
} */   

.box {
    padding: 15px 15pt 15px 15px;
}    


body {background-color: #F8F9F9 !important}

/*Navigation bar --------------------------------------------- */
  
#more {display: none;}

.navbar {
    font-size: 15pt;
    margin:  0 auto;
    max-width: 1200px;
}

.navbar-logo{
    font-size: 15pt;
}

.nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: white;
    border-bottom-color: white !important;
    font-size: 15pt;
}

.nav-tabs-custom .nav-tabs li.active a {
  color: rgb(100,100,100) !important;
  font-weight: bold;
  background-color: white !important;
  border-top-color: #D5DBDB; 
  border-bottom-color: white;
}

/* To set color on hover */
.nav-tabs-custom .nav-tabs > li.active > a:hover {
  color: rgb(100,100,100) !important;
  font-weight: bold;
  background-color: white !important;
  border-top-color: #D5DBDB; 
  border-bottom-color: white;
  
}

/* To set color on hover attempt not active */
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover {
  color: rgb(100,100,100);
  font-weight: bold;
  text-decoration: underline;
  opacity: 50%;
}

.nav-tabs-custom .nav-tabs li:not(.active) a {
  color: rgb(100,100,100);
  font-weight: bold;
  opacity: 50%;
  font-size: 15pt;

}


  

  